*{
    font-family: karla;
    margin: 0;
    padding: 0;
    border: 0;
}


.cabecario{
    display: flex;
    margin-bottom: 1em;
    justify-content: space-evenly;
}

.titulo{
    font-weight: 500;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 7.9em;
}

.login{
    float: left;
}


.coluna{
    margin-top: 4.5%;
    margin-left: 4.5%;
}

.cartao{
    width: 175px;
    height: 120px;
    border: 2px solid #000 !important; 
}

.titulocartao{
    justify-content: center;
    display: flex;
}

.card-title{
    color: #CC7626;
}

