*{
    font-family: karla;
    margin: 0;
    padding: 0;
    border: 0;
}


.cabecario{
    margin-bottom: 2em;
}

.cabecario a {
    color: black;
}

.login{
    float: left;
}


.coluna{
    margin-top: 4.5%;
    margin-left: 4.5%;
}

.cartao{
    width: 230px;
    height: 200px;
    border: 2px solid #000 !important; 
    border-radius: 50% !important;
    background-color: #CC7626 !important;
}

.titulocartao{
    justify-content: center;
    display: flex;
}

.card-title{
    color: #fff;
    font-size: 19px;
}

