*{
    font-family: karla;
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecario{
    margin-bottom: 2em;
}

.cabecario a {
    color: black;
}

.login{
    float: left;
}

.tabela{
    display: flex;
    justify-content: center;
    text-align: center;
}

.table{
    width: 75% !important;
    align-items: normal;
}

.voltar{
    margin-left: 13%;
    width: 22px;
}

.voltar i{
    font-size: 27px;
}

.tabela i{
    cursor: pointer;
    font-size: 15px;
}

.tabela li{
    list-style: none;
}

.tabela li i{
    padding: 4px;
}

.tabela ul{
    display: inline;
}

.editar{
    color: blue;
}

.lixo{
    color: red;
}

.registro{
    padding: 1em;
}