*{
    font-family: karla;
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecario{
    display: flex;
    margin-bottom: 1em;
    justify-content: space-evenly;
}

.titulo{
    font-weight: 500;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 7.9em;
}

.login{
    float: left;
}

.tabela{
    display: flex;
    justify-content: center;
}

.table{
    width: 75% !important;
}